<div class="banner-image">
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading"><span style="color: white;">Bienvenido a mi </span> <span
          style="color: yellow;">portal</span></h1>
      <h2 style="color: white!important;">Nos podrías indicar tu nombre.</h2>
      <h3 style="color: white!important;">{{nameDialog | cambioLetras}}</h3>
      <p>
        <button mat-raised-button color="primary" (click)="openDialog()" class="btn btn-round">Escribe tu nombre</button>
      </p>
    </div>
  </section>
</div>
