<div class="container-fluid">
  <h1>Calcular Fecha  </h1>


  <form [formGroup]="datesForm">
    <div class="row">
      <div class="col-10">
        <div class="col-5">
          <mat-form-field appearance="fill" style="width: 100%;" required>
            <mat-label>Selecciona la fechas</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dateCtrl">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="quantityCtrl.hasError('required')">El campo es requerido</mat-error>
          </mat-form-field>
        </div>
        <div class="col-5 mt-2">
          <mat-form-field appearance="fill" style="width: 100%;" required>
            <mat-label>Selecciona unidad</mat-label>
            <mat-select formControlName="unitCtrl">
              <mat-option value="0">Días</mat-option>
              <mat-option value="1">Meses</mat-option>
              <mat-option value="2">Años</mat-option>
            </mat-select>
            <mat-error *ngIf="quantityCtrl.hasError('required')">El campo es requerido</mat-error>
          </mat-form-field>
        </div>
        <div class="col-5 mt-2">
          <mat-form-field class="example-full-width" appearance="fill" style="width: 100%;" required>
            <mat-label>Ingresa cantidad</mat-label>
            <input matInput formControlName="quantityCtrl" type="number">
            <mat-error *ngIf="quantityCtrl.hasError('required')">El campo es requerido</mat-error>
          </mat-form-field>
        </div>
        <div class="col-5 mt-2" *ngIf="result">
          El resultado fue: {{result | date : 'd MMM y' }}
        </div>
        <div class="col-5 text-center mt-2">
          <button mat-raised-button color="primary" (click)="calculate()" [disabled]="datesForm.invalid">Sumar</button>
        </div>
      </div>
    </div>
  </form>
</div>
